@import "../../assets/scss/mixins";

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  @include lg {
    column-gap: 24px;
  }
  @include md {
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    row-gap: 24px;
  }
}
