@import "../../assets/scss/mixins";

.container {
  padding: 128px 40px;
  @include md {
    padding: 64px 40px;
  }
  @include sm {
    padding: 64px 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  @include lg {
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }

  .image-column {
    position: relative;
    margin-top: 32px;
    div:first-child {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      img:first-child {
        background: url("../../assets/images/border.png");
        background-position: center;
        background-size: contain;
        padding: "32px";
        position: "relative";
        padding: 40px;
        max-width: 400px;
        margin: 0;
        display: flex;
        justify-content: center;
        @include sm {
          max-width: 90%;
        }
      }
      img:nth-child(2) {
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
      }
    }
    @include md {
      width: 100%;
    }
  }
  .info-column {
    color: white;
    .info-title {
      font-family: "Blocket Display";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      font-size: 64px;
      line-height: 64px;
      @include md {
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 8px;
      }
      @include sm {
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 8px;
      }
    }
    .info-body {
      font-family: "Blocket Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px;
      @include md {
        font-size: 14px;
        line-height: 24px;
      }
      @include sm {
        font-size: 14px;
        line-height: 24px;
      }
    }
    button {
      @include sm {
        width: 100%;
      }
    }
  }
}

.polymorph {
  @include md {
    display: flex;
    flex-direction: column;
    flex-flow: wrap-reverse;
  }
}
