@import "../../assets/scss/mixins";

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  @include lg {
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }

  .image-column {
    position: relative;
    div:first-child {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      img:first-child {
        background: url("../../assets/images/border.png");
        background-position: center;
        background-size: contain;
        padding: "32px";
        position: "relative";
        padding: 40px;
        max-width: 400px;
        margin: 0;
        display: flex;
        justify-content: center;
        @include sm {
          max-width: calc(100vw - 40px);
          padding: 0;
        }
      }
      img:nth-child(2) {
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
      }
    }
  }
  .info-column {
    color: white;
    .info-title {
      font-family: "Blocket Display";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      font-size: 64px;
      line-height: 64px;
      @include md {
        font-size: 40px;
        line-height: 54px;
      }
      @include sm {
        font-size: 36px;
        line-height: 54px;
      }
    }
    .info-body {
      font-family: "Blocket Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      @include md {
        font-size: 14px;
        line-height: 24px;
      }
      @include sm {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
